altgraph==0.17.2
black==25.11.0
click==8.1.8
et_xmlfile==2.0.0
future==0.18.2
macholib==1.15.2
mypy_extensions==1.1.0
numpy==2.0.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
platformdirs==4.4.0
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
ruff==0.14.5
six==1.15.0
tomli==2.3.0
typing_extensions==4.15.0
tzdata==2025.2
